
  <div class="container">
    <div class="home-image-inner-container">
    	
		    <h4 class="home-text">Find Your Next Musical Adventure</h4>
		    <div class="signin-button"><%= link_to 'Sign in with Spotify', '/auth/spotify', class: "waves-effect waves-light btn-large" %>
		    </div>
	    
    </div>
  </div>
