<div class="home-image">
  <div class="container">
    <div class="home-image-inner-container">
    <h4 class="home-text">THE PERFECT WAY TO FIND YOUR NEXT FAVORITE SONG</h4>
    <div class="signin-button"><%= link_to 'Sign in with Spotify', '/auth/spotify', class: "waves-effect waves-light btn-large" %></div>
    </div>
  </div>
</div>