<div class="home-image">
  <div class="container">
    <div class="home-image-inner-container">
    <h1>The perfect way to find your next favorite song</h1>
    <%= link_to 'Sign in with Spotify', '/auth/spotify', class: "waves-effect waves-light btn-large" %>
    </div>
  </div>
</div>