<div id= "song-show">

  <h1><%= @track %></h1>

  <audio src = "<%=@preview %>" controls autoplay></audio>

  <%= link_to "No, this song sucks", delete_song_path(tracks: @tracks, genre: @genre), class: "selection" %><br>
  <%= link_to "YAAAS", create_song_path(tracks: @tracks, genre: @genre), class: "selection" %>
</div>