<h1><%= @track %></h1>

<audio controls>
  <source src=<%= @track.preview %> type="audio/mpeg">
</audio>

<%= link_to "No, this song sucks", delete_song_path(tracks: @tracks, genre: @genre) %><br>
<%= link_to "YAAAS", create_song_path(tracks: @tracks, genre: @genre) %>