// Place all the styles related to the Genre controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-holder {
  vertical-align: top;
  float: center;
  text-align: center;
}

.genre-card {
  border: 1px solid black;
  text-align: center;
  height: 30em;
  background-color: rgba(51, 51, 51, 0.45);
}

.card-image {
  margin-top: 2em;
  border-top: white solid 3px;
  border-bottom: white solid 3px;
}

.genre-header {
  text-align: center;
  color: #6ae368;
  font-weight: bold;
}

.overlay {
    display: none;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:black;
    opacity:0.8;
    z-index:2;
}
.overlay-message{
    display: none;
    color: white;
    position: fixed;
    top: 40%;
    left: 35%;
    width:400px;
    height:250px;
    background-color:black;
    opacity:1;
    z-index:3;
    text-align: center;
}

.overlay-message h1 {
  margin-top: 20%;
  color: #6ae368;
}