// Place all the styles related to the Genre controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-holder {
  vertical-align: top;
  float: center;
  text-align: center;
}

.genre-card {
  border: 2px solid black;
  text-align: center;
  height: 30em;
}

.card-image {
  padding-top: 2em;
}

.genre-header {
  text-align: center;
  color: #6ae368;
}