.song-holder {
  position: relative;
  width: 100%;
  left: 2%;
  border: 1px solid black;
  height: 500px;
  background-color: rgba(51, 51, 51, 0.45);
}

#no {
  color: red;
}

.song-image {
  position: relative;
  top: 15px;
  left: 8%;
  max-height: 400px;
  max-width: 400px;
  background-size: cover;
  overflow: hidden;
}

.song-genre-header {
  text-align: center;
  text-transform: uppercase;
  color: #6ae368;
  font-weight: bold;
}

.song-content {
  position: relative;
  width: 50%;
  left: 50%;
  bottom: 350px;
  height: 350px;
  text-align: center;
  word-wrap: break-word;
  //border: 2px solid black;
}

.song-name {

      color: white;
 }

.song-artist {

      color: white;
 }