// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-text {
	text-align: center;
	margin: 0 auto;
	width: 75%;
}

.btn-large {
  background-color: #00e676;
}

.signin-button {
	margin-top: 5px;
}