// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.home-image-inner-container {
  color: white;
  width: 40%;
  height: 40%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  border: white solid 3px;
  background-color: rgba(51, 51, 51, 0.45);
}

.center-info {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.home-text {
	text-align: center;
	margin-top: 15%;
	width: 100%;
}

.signin-button {
	margin-top: 15px;
}

.btn-large {
  border-radius: 35px;
  background-color: #6ae368;
}

